
*.tar.gz
*.json
*.jpg
*.jpeg
*.lock
*.png
*.log
*.svg
*.gif
*.webp
*.pt
*.bin
*.safetensors
*.jar
*.jsonl
*.pem
*.rar
*.deb
# FVM Version Cache
.fvm/
*.zip
*.txt
*.mhtml
*.mp4
*.html
*.png
*.pth
*.pkl
.gradle/*
JxInsta/build/*